.parents {
    background-color: #7dcf3e;
    text-align: center;
    width: 100%;
    height: 100%;
}
.card {
    background-color: #cf3e3e;
    text-align: center;
    width: 100%;
    height: 100%;
}

